name: Wheels

on:
  workflow_dispatch:

  pull_request:
    paths:
      - "src/**"
      - "CMakeLists.txt"
      - "pyproject.toml"
      - ".github/workflows/wheels.yml"

  push:
    branches: [main]
    paths:
      - "src/**"
      - "CMakeLists.txt"
      - "pyproject.toml"
      - ".github/workflows/wheels.yml"

  release:
    types: [published]

env:
  FORCE_COLOR: 3

jobs:
  build_wheels:
    name: Wheels on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest] #

    steps:
      - uses: actions/checkout@v5
        with:
          submodules: true

      - name: Install cibuildwheel
        run: python -m pip install cibuildwheel==3.3.1

      - name: Build wheels
        run: python -m cibuildwheel --output-dir wheelhouse

      - uses: actions/upload-artifact@v6
        with:
          name: wheels-${{ matrix.os }}
          path: wheelhouse/*.whl

  publish:
    name: Publish to PyPI
    needs: build_wheels
    runs-on: ubuntu-latest
    if: github.event_name == 'release'
    steps:
      - uses: actions/download-artifact@v6
        with:
          path: dist

      - name: Collect wheels
        run: |
          mkdir final_dist
          find dist -name "*.whl" -exec mv {} final_dist/ \;

      - name: Publish to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          password: ${{ secrets.PYPI_API_TOKEN }}
          packages-dir: final_dist