name: Wheels

on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
     - main
  release:
    types:
      - published

env:
  FORCE_COLOR: 3

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:

  build_wheels:
    name: Wheels on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest] #  macos-13, macos-latest, ubuntu-24.04-arm, windows-11-arm , windows-latest

    steps:
    - uses: actions/checkout@v5
      with:
        submodules: true

    - uses: actions/setup-python@v6
    - name: add python dev
      run: sudo apt-get install python3-dev

    - name: Install cibuildwheel
      run: python -m pip install cibuildwheel==3.3.1

    - name: Build wheels

      run: python -m cibuildwheel --output-dir wheelhouse

    - uses: actions/upload-artifact@v6
      with:
        name: cibw-wheels-${{ matrix.os }}-${{ strategy.job-index }}
        path: ./wheelhouse/*.whl